<?xml version="1.0"?>
<config>
    <modules>
        <Inchoo_CustomRelated>
            <version>1.0.0.3</version>
        </Inchoo_CustomRelated>
    </modules>
    <global>
        <blocks>
            <inchoo_customrelated>
                <class>Inchoo_CustomRelated_Block</class>
            </inchoo_customrelated>

            <!--<catalog>-->
                <!--<rewrite>-->
                    <!--<product_list_related>Inchoo_CustomRelated_Block_Product_List_Related</product_list_related>-->
                <!--</rewrite>-->
            <!--</catalog>-->
        </blocks>

        <helpers>
            <inchoo_customrelated>
                <class>Inchoo_CustomRelated_Helper</class>
            </inchoo_customrelated>
        </helpers>

        <models>
            <inchoo_customrelated>
                <class>Inchoo_CustomRelated_Model</class>
            </inchoo_customrelated>
        </models>

        <events>
            <sales_quote_save_before>
                <observers>
                    <inchoo_customrelated_sales_quote_save_before>
                        <class>inchoo_customrelated/observer</class>
                        <method>setRelatedProductsQty</method>
                    </inchoo_customrelated_sales_quote_save_before>
                </observers>
            </sales_quote_save_before>
        </events>

    </global>

    <frontend>
        <layout>
            <updates>
                <customrelated>
                    <file>inchoo/customrelated.xml</file>
                </customrelated>
            </updates>
        </layout>
    </frontend>
    <!--<frontend>-->
        <!--<routers>-->
            <!--<newsletter>-->
                <!--<args>-->
                    <!--<modules>-->
                        <!--<Ploom_Core before="Mage_Newsletter">Ploom_Core_Newsletter</Ploom_Core>-->
                    <!--</modules>-->
                <!--</args>-->
            <!--</newsletter>-->

            <!--<ploomcore>-->
                <!--<use>standard</use>-->
                <!--<args>-->
                    <!--<module>Ploom_Core</module>-->
                    <!--<frontName>ploomcore</frontName>-->
                <!--</args>-->
            <!--</ploomcore>-->

        <!--</routers>-->
    <!--</frontend>-->

    <!--<default>-->
        <!--<ploom_newsletters>-->
            <!--<newsletter_subscription_transactional_mails>-->
                <!--<enabled>1</enabled>-->
            <!--</newsletter_subscription_transactional_mails>-->
        <!--</ploom_newsletters>-->
        <!--<ploom_support>-->
            <!--<support_press_kit>-->
                <!--<contact_email>support@ploom.com</contact_email>-->
            <!--</support_press_kit>-->
        <!--</ploom_support>-->
    <!--</default>-->

</config>